<!DOCTYPE html>
<html>

<head>
  {{template "header"}}
  <title>Category - My blog of Go </title>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {{template "navbar" .}}
    </div>
  </div>
  <div class="jumbotron masthead">
    <div class="container">
      <h2>Category List</h2>
      <form method="GET" action="/category" class="form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label">Add Category</label>
          <div class="col-lg-9">
            <input type="hidden" name="op" value="add">
            <input class="form-control" id="name" placeholder="Category" name="name">
          </div>
          <button type="submit" class="btn btn-default col-md-0" onclick="return checkInput();">Add</button>
        </div>
      </form>
      <script type="text/javascript">
        function checkInput() {
          var name = document.getElementById("name");
          if (name.value.length == 0) {
            alert("Invild Category");
            return false;
          }
          return true;
        }
      </script>
      <table class="table table-striped">
             {{$islogin := .IsLogin}}
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Topic Count</th>
              {{if $islogin}}<th>Action</th>{{end}}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{range .Categories}}
            <th>{{.Id}}</th>
            <th>{{.Title}}</th>
            <th>{{.TopicCount}}</th>
              {{if $islogin}}<th>
              <a href="/category?op=del&id={{.Id}}">Delete</a>
            </th>{{end}}
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
  </div>
  {{template "script"}}
</body>

</html>
