<!DOCTYPE html>
<html>

<head>
  {{template "header"}}
  <title>{{.Topic.Title}} - My blog of Go </title>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      {{template "navbar" .}}
    </div>
  </div>
  <div class="jumbotron masthead">
    <div class="container">
      {{$Lang := .Lang}}
      <h1>{{.Topic.Title}}
        <small>{{.Topic.Category}}</small>
        <a href="/topic/modify?tid={{.Tid}}" class="btn btn-default">{{i18n $Lang "Modify Topic.Modify Topic"}}</a>
      </h1>
      <h5>
        {{range .Tag}}
        <a href="/?tag={{.}}">{{.}}</a> {{end}}
      </h5>
      {{str2html .Topic.Content}}
    </div>
  </div>
  <div class="container">
    <label>{{i18n $Lang "Attachment"}}: <a href="/attachment/{{.Topic.Attachment}}">{{.Topic.Attachment}}</a></label>
  </div>
  <div class="container">
    <h3>{{i18n $Lang "Replies"}}: </h3>
    {{$tid := .Topic.Id}} {{$islogin := .IsLogin}} {{range .Replies}}
    <h4>{{.Name}}
      <small>{{.Created}}</small>
      {{if $islogin}}<a href="/reply/delete?rid={{.Id}}&tid={{$tid}}">{{i18n $Lang "Category.Delete"}}</a>{{end}}
    </h4>
    {{str2html .Content}} {{end}}
    <form method="POST" action="/reply/add">
      <input type="hidden" name="tid" value="{{.Topic.Id}}">
      <div class="form-group">
        <label>{{i18n $Lang "Nickname"}}: </label>
        <input type="text" class="form-control" name="nickname">
      </div>
      <div class="form-group">
        <label>{{i18n $Lang "Content"}}: </label>
        <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <button class="btn btn-default">{{i18n $Lang "Submit"}}</button>
    </form>
  </div>
  {{template "script"}}
</body>

</html>
